<script>
import axios from 'axios'

export default {
  props: {
    character: {
      type: Object,
      required: true
    },
    characters:{
      type:Array,
      required:true
    }
  },
  data() {
    return {
      episodeDetails: [],
      characterData:[]
    };
  },
  methods: {
    showPopup() {
      this.character.showPopup = !this.character.showPopup;
       this.character.episode.forEach(episode => {
            axios
              .get(episode)
              .then(response => {
                console.log(response.data);
                this.episodeDetails.push(response.data);
                this.getCharacterImages(response.data.characters);
              })
              .catch(error => {
                console.log(error);
              });
          });
    },
    closePopup(){
      this.character.showPopup = false;
    },
   getCharacterImages(characterUrls) {
  this.characterData = this.characters.filter((character) =>
    characterUrls.includes(character.url)
  );
},
  }
};
</script>

<template>
 <div
  class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row flex-grow h-56 " @click="showPopup">
  <img
    class="h-56 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg "
    :src="character.image"
    alt="character.image" />
  <div class="flex flex-col justify-start p-6">
    <h5
      class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
      {{character.name}}
    </h5>
     <div class="mb-2 flex items-center">
     　  <div class="w-3 h-3 rounded-full mr-2"
           :class="{
          'bg-green-500': character.status === 'Alive',
          'bg-red-500': character.status === 'Dead',
          'bg-yellow-500': character.status === 'unknown'
        }"></div>
     <p class=" text-base text-neutral-600 dark:text-neutral-200">
     {{character.status}}
    </p>
    </div>
    　　<p class="text-xs text-neutral-500 dark:text-neutral-300">
      　Last known location
    　　</p>
    　　<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
     　{{character.location.name}}
    　　</p>
  　　</div>　
　　</div>
 <div v-if="character.showPopup" class="fixed inset-0 flex items-center justify-center bg-white overflow-y-auto">
 　　<div class="overflow-y-auto">
 　　　<div class="grid grid-cols-1 mt-2 ">
       <div  :key="episode.id" v-for="(episode, id) in episodeDetails">
        <p>Episode{{episode.id}} : {{episode.name}} ({{episode.air_date}})</p>
 　　    <div class="flex items-center  overflow-x-auto">
         <div class="flex space-x-4">
          <img
           v-for="(character, id) in characterData"
           :key="character.id"
           class="w-10 h-10 rounded-full"
           :src="character.image"
           :alt="character.name"/>
         </div>
        </div>
      </div>
    </div>
  </div>     
    <div
        class="mt-auto flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 min-[0px]:rounded-none">
        <button
          @click="closePopup"
          type="button"
          class="inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200　fixed right-4 bottom-4"
          data-te-modal-dismiss>
          Close
        </button>
    </div>
</div>
</template>
