<script setup>
defineProps({
  msg: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <div class="flex-1">
    <h1 class="text-teal-500 text-4xl text-center font-medium">{{ msg }}</h1>
    <h3 class="text-base text-center mt-4">
      Un projet basé sur l'API 
      <a target="_blank" href="https://rickandmortyapi.com/documentation/#rest">RickAndMorty</a> et développer en
      <a target="_blank" href="https://vuejs.org/">Vue 3</a>.
    </h3>
  </div>
</template>
