<script setup>
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "@/components/HelloWorld.vue";
import CharacterCard from "@/components/CharacterCard.vue";
</script>

<template>
  <header>
    <div class="container mx-auto">
      <div class="flex items-center">
        <img
        class="logo"
        src="@/assets/logo.svg"
        width="125"
        height="125"
        />
        <HelloWorld msg="You did it!" />
      </div>
    </div>
  </header>
  <body>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 mt-5 mx-4　flex">
   <div  :key="id" v-for="(character, id) in femaleCharacters">
     <CharacterCard :character="character" :characters="characters"/>
 　</div>
  </div>
  </body>
  <RouterView />
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      characters: [],
      femaleCharacters: [],
      showEpisodeList: false
    };
  },
  mounted() {
    this.getCharacters();
  },
  methods: {
  getCharacters() {
   let allCharacters = [];
   let page = 1;
   let totalPages = null; 

   const fetchNextPage = () => {
    axios
      .get(`https://rickandmortyapi.com/api/character/?page=${page}`)
      .then((response) => {
        const { results,info } = response.data;
        allCharacters = allCharacters.concat(results);
        page++;
        totalPages=info.pages

        if (page <= totalPages) {
          fetchNextPage();
        } else {
          this.characters = allCharacters.map(character => ({
            ...character,
            showPopup: false
          }));  
          this.femaleCharacters = allCharacters.filter((c)=> c.gender ==="Female"&& c.species === "Human" )
          console.log(this.characters);
          console.log(this.femaleCharacters)
        }
      })
      .catch(error => {
        console.log(error);
      });
  };
  fetchNextPage();
},
  toggleEpisodeList() {
      this.showEpisodeList = !this.showEpisodeList;
    }
  }
};
</script>

<style>
@import "@/assets/app.css";
</style>

